<ion-content class="leitem">
    <ion-item
        class="leitem ion-align-items-center ion-justify-content-center"
        lines="none"
    >
        <ion-label
            mode="ios"
            position="stacked"
            class="completeDescImportant ion-padding"
        >
            Well done!
        </ion-label>
        <ion-label
            mode="ios"
            position="stacked"
            [textContent]="'You have washed your hands ' + todayWashes + ' ' + (todayWashes === 1 ? 'time' : 'times') + ' today.'"
            class="ion-text-wrap completeDesc ion-padding"
        >
        </ion-label>
        <ion-button expand="block" [routerLink]="['/home']" class="lebutton" size="large">
            Return home
        </ion-button>
    </ion-item>
</ion-content>
