<ion-content color="secondary">
    <ion-list>
        <ion-item [routerLink]="['/home']" color="primary">
            Return home
        </ion-item>
        <ion-item lines="none" class="ion-text-justify ion-padding aboutItem" color="primary">
            Hey! Thank you so much for checking out Handwashr.
        </ion-item>
        <ion-item lines="none" class="ion-text-justify ion-padding aboutItem" color="primary">
            In a time of pandemic, it can get a bit crazy. One of the most important things to do is wash your hands, but a lot of people aren't doing that well. So I created an app to help make sure you really wash your hands good.
        </ion-item>
        <ion-item lines="none" class="ion-text-justify ion-padding aboutItem" color="primary">
            I'm not going to monetize this or put ads on it, because I believe that everyone should have access to healthcare advice; you shouldn't have to pay to learn how to wash your hands.
        </ion-item>
        <ion-item lines="none" class="ion-text-justify ion-padding aboutItem" color="primary">
            This app uses the WLSRD method. It's the method promoted by the CDC for hand washing. It's got 5 simple steps; Wet, Lather, Scrub, Rinse, and Dry. Each section is 5 seconds long. I've put a small tip on how to do the procedure on the actual washing page, but if you want to read more about it then you can go to the CDC site.
        </ion-item>
        <ion-item lines="none" class="ion-text-justify ion-padding aboutItem" color="primary">
            Try to wash your hands often. Make sure to wash your hands before eating food. If you are preparing food, wash your hands before, during, and after preparing it. Wash your hands after you go to the bathroom, and after sneezing or coughing. You should also wash your hands after handling waste. It seems like a lot, but in a time like this, it's really important. I find myself washing my hands around once an hour. If you can't get to a sink, hand sanitizer is fine, but soap and water is the best way to kill germs.
        </ion-item>
    </ion-list>
</ion-content>
